

.addFormTissus{
display: flex;
justify-content: center;
flex-direction: column;
width: 50%;;
margin: auto;
text-align:center;
}

.full{
 background: green;
}
.nearEmpty{
    background: orange
}

.empty{
 background: red;
}

tr:hover{
    opacity: 0.5;
}

.addFormCommands{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
    text-align:center;
}